.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .inputGroup input,
  .inputGroup select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttons {
    display: flex;
    gap: 20px; /* Espaçamento maior entre os botões */
  }
  
  .submitButton {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelButton {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover,
  .cancelButton:hover {
    opacity: 0.9;
  }
  
  .filmeTabela {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
  }
  
  .filmeTabela th,
  .filmeTabela td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .filmeTabela th {
    background-color: #333;
    color: white;
  }
  
  .editButton {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .deleteButton {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .editButton:hover,
  .deleteButton:hover {
    opacity: 0.9;
  }
  